VITE_API_URL=http://localhost:5000/api

# Set these variables to use Google Image Search in the app.
# You can get your API key and Custom Search Engine ID from the Google Developer Console.
VITE_GOOGLE_API_KEY=
VITE_GOOGLE_CX=
